extends layout

block content
  if (!user)
    a(href='/login') 로그인
    br
    a(href='/register') 회원가입
  if (user)
    p You are currently logged in as #{user.username}
    a(href='/logout') 로그아웃
    